@charset "UTF-8";

article {
  width: 60%;
  height: 100vh;
  #google-map-wrapper {
    width: 100%;
    height: 75vh;
    border: solid red 1px;
  }
  #google-map-area {
    width: 100%;
    height: 100%;
    background-color: white;
  }
  #google-map-opt {
    width: 100%;
    height: 25vh;
    overflow-y: scroll;
    padding: 10px;
  }
}
select {
  border: solid gray 1px;
  padding: 5px;
  margin-bottom: 10px;
}
dd {
  margin-bottom: 10px;
}
// ボックスだけ残す
.hidden {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
// ボックスごと消す
.none {
  display: none;
}
